<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Indiction</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Indiction</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>copyright</key>
    <string>Copyright 2025 The Indiction Project Authors (https://github.com/slavonic/Indiction.git)</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>2010/12/07 22:19:54</string>
    <key>openTypeHheaAscender</key>
    <integer>1057</integer>
    <key>openTypeHheaDescender</key>
    <integer>-200</integer>
    <key>openTypeHheaLineGap</key>
    <integer>90</integer>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.001</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1057</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>90</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1057</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>347</integer>
    <key>postscriptFontName</key>
    <string>Indiction-Regular</string>
    <key>postscriptFullName</key>
    <string>Indiction</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>12</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-56</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>1</integer>
      <integer>543</integer>
      <integer>556</integer>
      <integer>799</integer>
      <integer>812</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>6</integer>
      <integer>26</integer>
      <integer>33</integer>
      <integer>47</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>5</integer>
      <integer>50</integer>
      <integer>68</integer>
    </array>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueShift</key>
    <integer>6</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptForceBold</key>
    <false/>
    <key>guidelines</key>
    <array/>
  </dict>
</plist>
